

body {
    font-family: Arial, sans-serif;
}

.col-1{
    border: 1px solid red;
}
.col {
    border: 1px solid red;
}

.c-item{
    height: 480px;

}

.c-img{
    height: 100%;
}

.display-6{
    text-align: center;
}